@model CoderDojoMKE.Web.Models.View.CreateEventViewModel

@{
    ViewBag.Title = "Create Event";
}

<h2>Create Event</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MaximumSignUps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.MaximumSignUps, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaximumSignUps, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.EventDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventDateTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SignUpStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SignUpStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SignUpStart, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventInstructionsID, "Instructions", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.EventInstructionsID, Model.EventInstructions, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EventInstructions, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">@Html.ActionLink("Add", "Instructions", null, new { @class="btn btn-default" })</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SignUpEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SignUpEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SignUpEnd, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RegistrationStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationStart, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RegistrationEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationEnd, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.EventDescription, new { @class = "form-control", rows = "10", columns = "300" })
                @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
